.app-layout {
  min-height: 100vh;
}

.layout-body {
  background-color: #f5f5f5;
}

.layout-sider {
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
}

.layout-content {
  padding: 24px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 64px);
  overflow-y: auto;
}

